[Unit]
Description=Minecraft server %I
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/minecraft
User=minecraft
WorkingDirectory=%h
ExecStart=/usr/bin/tmux new-session -d -s %I "cd ${worlddir}/%I ; ${java} -Xmx${maxmem} -Xincgc -jar ${serverjar}"
ExecStop=/usr/bin/tmux send-keys -t %I "stop" C-m

[Install]
WantedBy=multi-user.target
