[Unit]
Description=Minecraft server %I
After=network.target

[Service]
Type=forking
User=minecraft
WorkingDirectory=%h
ExecStart=/usr/bin/tmux new-session -d -s %I "cd /srv/minecraft/%I ; /opt/java/jre/bin/java -Xmx4G -Xincgc -jar /srv/minecraft/craftbukkit.jar"
ExecStop=/usr/bin/tmux kill-session -t %I

[Install]
WantedBy=multi-user.target
